@using Newtonsoft.Json
@using mojoPortal.Web.Areas.SettingSSOArea.Models
@model FormSettingSSO
@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    ViewBag.Title = "Cấu hình đăng nhập SSO";
    //var groupData = Html.Raw(JsonConvert.SerializeObject(Model.PageData));
}
<style>
    .content__main_table {
        float: left;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    .listvanban__box_admin {
        padding: 10px !important;
        border: 0;
        background: #fff;
    }

    .wf100 {
        width: 100%;
        float: left;
    }

    #listvanban h2, .listvanban__box_admin h2 {
        margin-top: 0;
        font-size: 18px;
        letter-spacing: .5px;
        margin-bottom: 0;
        background-color: #cfe7fa;
        padding: 12px;
        border-radius: 3px;
        color: #1a9cef;
    }

    .table_admin .listvanban__box__thaotac {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

    .listvanban__box__thaotac {
        padding: 10px;
        background-color: #fff;
    }

    .listvanban__box__thaotac__row {
        display: flex;
    }

    .pd0, #button-menu {
        padding: 0;
    }

    .listvanban__box__thaotac__btn {
        background-color: #308ee0;
        border-radius: 3px;
        color: #fff;
        padding: 5px 20px;
        margin-right: 5px;
    }

    .listvanban__box__thaotac__btn {
        background-color: #308ee0;
        border-radius: 3px;
        color: #fff;
        padding: 5px 20px;
        margin-right: 5px;
    }

    header, footer, #content, .content__main_table .widge-t-body, #collapseDiv {
        float: left;
        width: 100%;
    }

    .widge-t-body {
        background: #fff;
    }

    .select2 {
        width: 100% !important;
        max-width: 100%;
    }

    .boder-box, .panel {
        border: 0;
    }
</style>
<link href="/Scripts/plugins/color-picker/jquery.minicolors.css" rel="stylesheet" />
<script src="/Scripts/plugins/color-picker/jquery.minicolors.min.js"></script>
<script src="/Scripts/jquery/jquery.validate.min.js"></script>
<script src="/Scripts/jquery/AdditionValidation.js"></script>
<script src="/Scripts/jquery/jquery.validate.unobtrusive.min.js"></script>

<div id="content">
    <div class="content__main_table table_admin">
        <div class="wf100 titleDanhsach listvanban__box_admin">
            <h2>Cấu hình đăng nhập SSO</h2>
        </div>
        @using (
        Ajax.BeginForm("SaveForm", "SettingSSO",
        new AjaxOptions { HttpMethod = "Post", OnSuccess = "AjaxSuccsess", OnFailure = "AjaxError" },
        new { @class = "", enctype = "multipart/form-data", id = "frmSettingSSO", area = "SettingSSOArea" }))
        {
            <div class="widge-t-body no-padding">
                @Html.HiddenFor(x => x.ItemID)
                <div class="form-horizontal">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Thông tin cấu hình</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-sm-2">UrlSSO <span class="red">*</span></label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.UrlSSO, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.UrlSSO)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">UrlSSO trả về <span class="red">*</span></label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.UrlSSOReturn, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.UrlSSOReturn)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Kích hoạt SSO?</label>
                                <div class="col-sm-10">
                                    @Html.CheckBoxFor(x => x.ActiveSSO, new { @class = "" })
                                    @Html.ValidationMessageFor(x => x.ActiveSSO)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Disabled?</label>
                                <div class="col-sm-10">
                                    @Html.CheckBoxFor(x => x.IsDisable, new { @class = "" })
                                    @Html.ValidationMessageFor(x => x.IsDisable)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Background button </label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(x => x.BackgroundButton, new { @class = "form-control color", @data_format = "rgb color" })
                                    @Html.ValidationMessageFor(x => x.BackgroundButton)
                                </div>
                                <label class="control-label col-sm-2">Theme giao diện</label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(x => x.TypeTheme, ViewBag.ListTheme as List<SelectListItem>, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.TypeTheme)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer center boder-box">
                <button type="submit"  class="btn btn-primary">Hoàn thành</button>
            </div>
        }
    </div>
</div>

<script>



    $(document).ready(function () {
        $(".select2").select2();

        $(".color").minicolors({
            control: $(this).attr('data-control') || 'hue',
            defaultValue: $(this).attr('data-defaultValue') || '',
            format: 'rgb',
            keywords: $(this).attr('data-keywords') || '',
            inline: $(this).attr('data-inline') === 'true',
            letterCase: $(this).attr('data-letterCase') || 'lowercase',
            opacity: $(this).attr('data-opacity'),
            position: $(this).attr('data-position') || 'bottom',
            swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
            change: function (value, opacity) {
                if (!value) return;
                if (opacity) value += ', ' + opacity;
                if (typeof console === 'object') {
                    console.log(value);
                }
            },
            theme: 'bootstrap'
        });
    })

    function AjaxSuccsess(rs) {
        NotifySuccess("Cập nhật cấu hình SSO thành công");
    }

    function checkSubmid() {
        debugger
        var oke = jQuery('#frmSettingSSO').validate();
        if (oke) {
            $("#frmSettingSSO").submit();
        }
    }
    function CreateUnit() {
        $.ajax({
            type: "get",
            url: "/UnitArea/Unit/CreateUnit",
            success: function (rs) {
                $("#myModal").html(rs);
                $("#myModal").modal("show");
            }, error: function (er) {
                console.log(er);
            }
        })
    }



</script>
