@using mojoPortal.Model.Data
@model List<md_Articles>

<div class="modal-dialog" style="min-width:80%;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Danh sách bài viết</h4>
        </div>

        <div class="modal-body">
            <div class="hntbl-cover">
                <table class="hinet-table table table-striped table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tiêu đề</th>
                            <th>Mô tả</th>
                            <th>Nội dung</th>
                            <th>Ngày bắt đầu</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@(Model.IndexOf(item) + 1)</td>
                                    <td><a target="_blank" href="@item.ItemUrl.Replace("~","")">@item.Title</a></td>
                                    <td><img src="/Data/Images/Article/@item.ImageUrl" width="150" height="100" /></td>
                                    <td>@item.Summary</td>
                                    @*<td>@Html.Raw(item.Description)</td>*@
                                    <td>@String.Format("{0:MM/dd/yyyy}", item.CreatedDate)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>